* {
  box-sizing: border-box;
  
}

.App {
  padding: 30px;
  margin: 10px;
  font-family: sans-serif;
  text-align: center;
}

.Resume {
  border: 4px solid black;
  height: 1000px;
}

.Header {
  border: 1px solid #338078;
  height: 150px;
  background: #338078;
  color: white;
}

.Content {
  border: 1px solid black;
  display: flex;
  height: 843px;
}

.Contact {
  flex: 1;
  background: lightgrey;
}


.Experience {
  flex: 2;
}

.try {
  text-align: right;
  margin-right: 50px;
}

.exp {
  text-align: left;
  margin-left: 20px;
}